@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: 'roboto', sans-serif;
}
:root{
    --powhite: #fff;
}

.imglogo{
    width: 30px;
    height: 30px;
}

.carousel-item{
    height: 100%;
}
.carousel-item img {
    height: 800px;
    object-fit:cover;
    position: center;
}

.carousel-item::before{
    width: 100%;
    height: 100%;
    position: absolute ;
    content: "";
    background: linear-gradient(transparent, black);
    
}

.menu-bg{
    background: rgb(11, 136, 194);
}
.menu{
    max-width: 960px;
    margin: auto;
    padding: 15px 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    
}
.menu a{
    color: var(--powhite);
}
.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
}
.menu-nav ul {
    display: flex;
    /* flex-wrap: wrap; */
}
.menu-nav a {
    font-size: 1.25em;
    padding: 10px;
    display: inline-block;
    border: 2px solid ;
    border-radius: 20px;
    margin-left: 10px;
    
    
}
.menu-nav a:hover{
    color: rgb(0, 255, 64);
    transition: 0.9s;
    background-color: rgb(221, 53, 103);
}
.TextoP{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: cursive;
    font-style: oblique;
    font-size: 40px;
}
.preco{
    display: flex;
    background: #80a7fa;
    color: rgb(255, 255, 255);

}
.preco-item{
    flex: 260px;
    border: 4px solid white;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;


  
}
.preco-item h2{
    font-size: 3em;
    color: #d14949;
    text-align: center;
    margin-top: 20px;
    
}
.preco-item span{
    max-width: 300px;
    margin: 20px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    font-size: 5em;
}
.preco-item sup{
    font-size: 1.5rem;
}
.preco-item ul{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: rgb(255, 251, 25);
}
.preco-item li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;  
    border: 2px solid;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    text-align: center;
    transition: 0.3s;
}
.preco-item a:hover{
    color:aqua ;
}


.bg{
    background-color: rgb(69, 205, 247);
    padding: 10px;
    font-family: cursive;
    font-style: oblique;
    border: 2px solid ;
    border-radius: 20px;
    
}
.sprInfo{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-style: oblique;
    gap: 20px;
    color: #fff;
    margin: 10px;
}
.Imges{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.nwsletter{
    background: #f7f7f7;
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;

}
.nwsletter-Info p{
    flex: 260px;
    margin: 0 10px;
}
.nwsletter-Info h1{
   font-size: 3em;
   background-color: rgb(173, 170, 170);
}
.nwsletter-Info p{
    font-size: 1.25em;
    font-style:italic;
    max-width: 240px;
    color: snow;
    margin-bottom: 10px;
}
.nwsletter-Info p{
    flex: 260px;
    margin: 0 10px;
}
.nwsletter-Info h1{
   font-size: 3em;
   background-color: var (--btgray) ;
}
.nwsletter-Info p{
    font-size: 1.25em;
    font-style:italic;
    max-width: 240px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.nwsletter-form{
    flex: 260px;
    margin: 10px;
    align-self: center;
    display: flex;
}
.nwsletter-form input{
    flex: 260px ;
    font-size: 1.25em;
    color: #c7c7c7;
    font-style: italic;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    border: 2px solid #2c70ff;
    background: transparent;
    width: 50px;
    height: 400px;
}
.nwsletter-form button{
    flex: 200px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    background: #2c70ff;
    color: #fff;
    cursor: pointer;
    padding: 15px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}